@import url('https://fonts.googleapis.com/css?family=Muli:400,500,600,700&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased !important;
}

/* Estilização da imagem de fundo e menu ao topo */
header#top {
  background: linear-gradient(rgba(40, 49, 220, .8) 0%, rgba(40, 49, 220, .8) 100%), url('../assets/priscilla-du-preez-XkKCui44iM0-unsplash.jpg');
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100vw;
  height: 100vh;
}

/* Só entra em ação quando o scroll é ativado */
.alterar-menu {
  background-color: #2831dc;
}

header nav img#logo-top {
  width: 8%;
}

.nav-item {
  font-family: 'Muli', sans-serif;
  border-bottom: 1px solid transparent;
  transition: .3s;
}


.btn-green {
  background-color: #4bcb03;
  padding: 10px 20px;
  border: none;
  border-radius: 2px;
  color: white;
}

.btn-green:hover {
  background-color: #3ea902;
}

/* Estilização do conteúdo do header */
div#header-container {
  height: 100%;
  display: flex;
  align-items: center;
}

div#header-content {
  margin-top: 70px;
}

div#header-content h1 {
  font-size: 2em;
  color: white;
  font-family: 'Muli', sans-serif;
}

div#header-content h1:after {
  content: '';
  position: absolute;
  left: 15px;
  top: 30%;
  margin: 30px auto;
  width: 8%;
  height: 6px;
  background-color: #ffff00;
}

div#header-content img {
  width: 40%;
  margin-bottom: 40px;
}

div#header-content p {
  width: 50%;
  font-size: 1.2em;
  color: white;
  font-family: 'Muli', sans-serif;
  margin-top: 30px;
  text-align: left;
}

div#header-video {
  margin-top: 70px;
}

div#header-video video {
  width: 130%;
  border-radius: 20px;
}

/* Seção de vantagens */
section#vantagens{
  padding: 5% 0 5% 0;
}

.block-vantagens {
  margin: 20px;
}

.block-vantagens h2 {
  color: #2831dc;
  width: 70%;
  text-align: left;
  font-family: 'Muli', sans-serif;
  font-weight: 600;
  font-size: 2em;
  margin-bottom: 20px;
  position: relative;
}

.block-vantagens h2:after {
  content: '';
  position: absolute;
  left: 0;
  top: 120%;
  margin: 10px auto;
  width: 15%;
  height: 6px;
  background-color: #2831dc;
}

div.circle {
  width: 45px;
  height: 45px;
  border-radius: 25px;
  background-color: rgba(255, 255, 0, .7);
  position: absolute;
  top: 0;
  left: -5px;
}

.block-vantagens ul  {
  list-style-image: url('../assets/check.png');
  margin-top: 80px;
}

.block-vantagens ul li {
  margin-bottom: 15px;
  font-size: 1.2em;
  color: #7e7e7e;
}


/* Seção com Cartão Juno */
section#card {
  background: linear-gradient(rgba(229, 235, 255, 0.5) 0%, rgba(229, 235, 255, 0.5) 100%), url('../assets/illustration.decor-pattern.svg');
  background-repeat: no-repeat;
  background-position: right;
  padding: 5%;
}

section#card h2 {
  color: #2831dc;
  text-align: left;
  font-family: 'Muli', sans-serif;
  font-weight: 700;
  font-size: 2em;
  margin-bottom: 20px;
  position: relative;
  width: 90%;
}

section#card img {
  margin-top: -180px;
}


/* Seção perfil */
section#perfil {
  background: linear-gradient(rgba(40, 49, 220, .8) 0%, rgba(40, 49, 220, .8) 100%), url('../assets/eye-for-ebony-vYpbBtkDhNE-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5%;
}

section#perfil h2 {
  color: #fff;
  text-align: left;
  font-family: 'Muli', sans-serif;
  font-weight: 700;
  font-size: 2em;
  margin-bottom: 30px;
}

section#perfil p.description {
  font-size: 1.2em;
  color: white;
  font-family: 'Muli', sans-serif;
  text-align: left;
}

section#perfil p.description:after {
  content: '';
  position: absolute;
  left: 15px;
  top: 90%;
  margin: 30px auto;
  width: 15%;
  height: 6px;
  background-color: #ffff00;
}

.block-perfil {
  background-color: white;
  margin-top: 70px;
  padding: 20px 10px;
  border-radius: 5px;
}

.block-perfil img {
  width: 60px;
}

.block-perfil h3 {
  color: #2831dc;
  font-size: 1.2em;
  font-family: 'Muli', sans-serif;
}

.block-perfil h3:after {
  content: '';
  position: absolute;
  left: 10px;
  top: 95px;
  margin: 30px auto;
  width: 15%;
  height: 6px;
  background-color: #2831dc;
}

.block-perfil-text {
  color: #838383;
  margin-top: 35px;
  font-size: 1em;
  font-family: 'Muli', sans-serif;
  text-align: left;
}

.block-perfil a {
  font-size: 1em;
  font-family: 'Muli', sans-serif;
  color: #ff5e00;
}

/* Seção history */
section#history {
  padding: 5%;
}

section#history h2.history-title {
  position: relative;
  color: #2831dc;
  font-size: 2em;
  font-weight: 700;
  font-family: 'Muli', sans-serif;
}

section#history p.history-description {
  color: #707070;
  margin-top: 35px;
  font-size: 1.1em;
  font-family: 'Muli', sans-serif;
  font-weight: 500;
  text-align: left;
}

p.history-description:after {
  content: '';
  position: absolute;
  left: 15px;
  top: 200px;
  margin: 30px auto;
  width: 10%;
  height: 6px;
  background-color: #2831dc;
}

section#history div.content div {
  margin-top: 100px;
}

section#history div.content div h3 {
  color: #2831dc;
  font-size: 2em;
  font-weight: 700;
  font-family: 'Muli', sans-serif;
  position: relative;
}

section#history div.content div p {
  color: #707070;
  font-size: 1.2em;
  font-family: 'Muli', sans-serif;
  text-align: left;
}

section#history div.content div h3.title-prevencao:after {
  content: '';
  position: absolute;
  left: 0px;
  top: 90px;
  margin: 30px auto;
  width: 15%;
  height: 6px;
  background-color: #2831dc;
}

p.description-prevencao {
  margin-top: 100px;
}

/* Estilizações dos círculos ao final de cada title */
div.circle-economia {
  width: 20px;
  height: 20px;
  border-radius: 25px;
  background-color: rgba(255, 255, 0, .7);
  position: absolute;
  top: 210px;
  left: 120px;
}

div.circle-processos {
  width: 20px;
  height: 20px;
  border-radius: 25px;
  background-color: rgba(255, 255, 0, .7);
  position: absolute;
  top: 410px;
  left: 240px;
}

div.circle-cobrancas {
  width: 20px;
  height: 20px;
  border-radius: 25px;
  background-color: rgb(255, 255, 0);
  position: absolute;
  top: 585px;
  left: 165px;
}

div.circle-prevencao {
  width: 45px;
  height: 45px;
  border-radius: 25px;
  background-color: rgba(255, 255, 0, .7);
  position: absolute;
  top: 740px;
  left: -5px;
}

/* Estilização dos icones ao final da seção */
img.logo-marcas {
  margin-top: 50px;
  margin-right: 20px;
}


/* Seção de clientes com slide */
section#clients {
  background: linear-gradient(rgba(40, 49, 220, .8) 0%, rgba(40, 49, 220, .8) 100%), url('../assets/priscilla-du-preez-XkKCui44iM0-unsplash.jpg');
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100vw;
  padding: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

section#clients h2.title-clients {
  position: relative;
  color: #fff;
  font-size: 2em;
  font-weight: 700;
  font-family: 'Muli', sans-serif;
}

h2.title-clients:after {
  content: '';
  position: absolute;
  left: 0px;
  top: 60px;
  margin: 30px auto;
  width: 15%;
  height: 6px;
  background-color: #ffff00;
}

section#clients p.description-clients {
  color: #fff;
  margin-top: 35px;
  margin-bottom: 35px;
  font-size: 1.2em;
  font-family: 'Muli', sans-serif;
  text-align: left;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.block-slide {
  padding: 40px;
  background-color: white;
  border-radius: 5px;
  margin-right: 20px;
}

.block-slide p {
  color: #707070;
  font-size: .8em;
  font-family: 'Muli', sans-serif;
  margin-bottom: 50px;
}

.block-slide img {
  margin-left: auto;
  margin-right: auto;
}

/* Seção com dois blocos */
section#comece{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

section#comece div.comece-content {
  padding: 5%;
  display: flex;
  align-items: center;
  left: 40%;
}

div.circle-comece {
  width: 45px;
  height: 45px;
  border-radius: 25px;
  background-color: rgba(255, 255, 0, .7);
  position: absolute;
  top: 220px;
  left: 30px;
}

section#comece div.comece-content h2 {
  position: relative;
  color: #2831dc;
  font-size: 2em;
  font-weight: 700;
  font-family: 'Muli', sans-serif;
}

section#comece div.comece-content h2:after {
  content: '';
  position: absolute;
  left: 0px;
  top: 120px;
  margin: 30px auto;
  width: 15%;
  height: 6px;
  background-color: #2831dc;
}

section#comece div.comece-content p {
  margin-top: 80px;
  margin-bottom: 40px;
  color: #707070;
  font-size: 1em;
  font-family: 'Muli', sans-serif;
  text-align: left;
}

section#comece div.comece-img {
  background: linear-gradient(rgba(40, 49, 220, .8) 0%, rgba(40, 49, 220, .8) 100%), url('../assets/mateus-campos-felipe-Fsgzm8N0hIY-unsplash.jpg');
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
}


/* Estilizando rodapé da página */
footer {
  background-color: #2831dc;
  padding: 5%;
  color: white;
}

footer h2, p {
  text-align: center;
  font-family: 'Muli', sans-serif;
  font-size: 1.2em;
  font-weight: 600;
}

footer p {
  font-size: 1em;
}

footer input#exampleInputEmail1 {
  width: 600px;
  margin-bottom: 50px;
}

footer h3 {
  font-family: 'Muli', sans-serif;
  font-size: 1em;
  font-weight: 700;
  margin-bottom: 30px
}

footer ul {
  list-style: none;
}

footer ul li {
  margin-bottom: 15px;
}

footer ul li a {
  text-decoration: none;
  color: rgba(229, 235, 255, 0.5);
  font-family: 'Muli', sans-serif;
  font-size: .9em;
}

footer ul li a:hover {
  color: white;
}

footer div#block-verify {
  border-left: 1px solid rgba(255, 255, 255, .2);
}

footer div#block-verify p {
  text-align: left;
  font-family: 'Muli', sans-serif;
  font-size: 1em;
  font-weight: 700;
  margin-bottom: 40px
}

footer div#block-verify a {
  border: 1px solid white;
  color: white;
  font-family: 'Muli', sans-serif;
  font-size: 1em;
  font-weight: 600;
  text-decoration: none;
  padding: 5px 25px;
}

footer div#block-verify a:hover {
  background-color: rgba(229, 235, 255, 0.5);
}

.spacing-left {
  margin-left: 30px;
}



/* Estilização para dispositivos menores */
@media screen and (max-width: 768px) {
  header#top {
    height: 100vh;
  }

  header#top nav {
    background-color: #2831dc;
  }

  /* Estilização do menu hamburguer */
  .navbar-dark .navbar-toggler {
    border: none;
    outline: none;
  }
  /* Fim da estilização do menn hamburguer */

  .navbar.navbar-dark.fixed-top.navbar-expand-lg {
    padding: 10px;
  }

  .nav-item {
    margin-bottom: 15px;
  }

  .spacing-left {
    margin-left: 0px;
  }

  .btn-green {
    text-align: center;
  }

  header nav img#logo-top {
    width: 25%;
  }

  div#header-content {
    margin-top: 600px;
  }
  
  div#header-content h1 {
    font-size: 2em;
    color: white;
    font-family: 'Muli', sans-serif;
  }
  
  div#header-content h1:after {
   display: none;
  }
  
  div#header-content img {
    width: 40%;
    margin-bottom: 15px;
  }
  
  div#header-content p {
    width: 100%;
    margin-bottom: -15px;
  }

  div#header-video {
    background: url('../assets/print-mobile-2.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 500px;
  }
  
  div#header-video video {
      display: none;
  }

  /* Seção de vantagens */
  section#vantagens{
    padding: 100% 5% 15% 5%;
  }

  .block-vantagens h2 {
    width: 100%;
    font-weight: 700;
  }

  /* Seção com Cartão Juno */
  section#card {
    padding: 5%;
    background: linear-gradient(rgba(229, 235, 255, .6) 0%, rgba(229, 235, 255, .6) 100%);
  }

  section#card h2 {
    margin-top: 100%;
    width: 100%;
  }

  section#card img {
    position: absolute;
    top: -400px;
  }

  /* Seção history */
  .background-history {
    display: none;
  }

  section#history p.history-description {
    margin-top: 25px;
  }

  p.history-description:after {
    top: 210px;
    width: 15%;
  }

  section#history div.content div {
    margin-top: 80px;
  }

  section#history div.content div h3.title-prevencao:after {
    top: 80px;
    width: 15%;
  }

  p.description-prevencao {
    margin-top: 80px;
  }

  /* Estilizações dos círculos ao final de cada title */
  div.circle-economia {
    top: 235px;
  }

  div.circle-processos {
    top: 420px;
  }

  div.circle-cobrancas {
    top: 570px;
  }

  div.circle-prevencao {
    top: 700px;
  }

  /* Estilização dos icones ao final da seção */
  img.logo-marcas {
    margin-top: 40px;
    margin-right: 10px;
  }


  /* Seção com dois blocos */
  .comece-img{
    display: none;
  } 
  section#comece{
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 30%;
    padding-bottom: 30%;
  }

  section#comece div.comece-content {
    left: 0;
  }

  div.circle-comece {
    top: 15px;
    left: 5px;
  }

  section#comece div.comece-content h2:after {
    top: 100px;
    width: 15%;
  }

  section#comece div.comece-content p {
    margin-top: 50px;
  }

  /* Estilizando rodapé da página */
  footer h2 {
    margin-bottom: 20px;
  }
  footer h2, p {
    text-align: left;
  }

  footer input#exampleInputEmail1 {
    margin-bottom: -5px;
  }

  footer input#exampleInputEmail1, .btn-form {
    width: 300px;
  }

  footer h3 {
    margin-bottom: 30px;
    margin-top: 50px;
  }

  footer div#block-verify {
    border-left: none;
  }

  footer div#block-verify p {
    margin-top: 50px;
    margin-bottom: 30px
  }
}